<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jochemkeller.vscodeprojectmanager</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>EFCA4A0D-100E-4E55-B2B3-4EF91B803112</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63441BD6-AF92-4942-914E-570E76797C98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jochem Keller</string>
	<key>description</key>
	<string>Fuzzily find projects and open them with VS Code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VS Code Project Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading projects...</string>
				<key>script</key>
				<string>sh code.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Keep typing to search</string>
				<key>title</key>
				<string>Search and open in VS Code</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EFCA4A0D-100E-4E55-B2B3-4EF91B803112</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>63441BD6-AF92-4942-914E-570E76797C98</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># VS Code Project Manager

For this workflow to function the following required dependencies have to be installed:

- fzf
- jq

Use the following script to quickly install them with `brew`:

- `brew install fzf`
- `brew install jq`

## Options

### Root Directory

Use the file picker to configure the default folder in which the Project Manager conducts it's searches. This can be any folder on your system:

.
└── 📁 Root Directory/ `← 🙋 Configure me!`
    ├── 📁 Project category 1/
    │   ├── 📁 Project 1/
    │   │   └── 📁 Folder in Project 1
    │   └── 📁 Project 2/
    │       └── 📁 Folder in Project 2
    └── 📁 Project category 2/
        ├── 📁 Project 3/
        │   └── 📁 Folder in Project 3
        └── 📁 Project 4/
            └── 📁 Folder in Project 4

### Minimum search depth

Configure the *minimum* depth the Project Manager should use to search. For instance when you select `2`, the following diagram shows how the Project Manager searches:

.
└── 📁 Root Directory/ `← ❌ Ignored`
    ├── 📁 Project category 1/ `← ❌ Ignored`
    │   ├── 📁 Project 1/ `← ✅ Found!`
    │   │   └── 📁 Folder in Project 1
    │   └── 📁 Project 2/ `← ✅ Found!`
    │       └── 📁 Folder in Project 2
    └── 📁 Project category 2/ `← ❌ Ignored`
        ├── 📁 Project 3/ `← ✅ Found!`
        │   └── 📁 Folder in Project 3
        └── 📁 Project 4/ `← ✅ Found!`
            └── 📁 Folder in Project 4

### Maximum search depth

Configure the *maximum* depth the Project Manager should use to search. For instance when you select `2`, the following diagram shows how the Project Manager searches:

.
└── 📁 Root Directory/ `← ❌ Ignored`
    ├── 📁 Project category 1/ `← ❌ Ignored`
    │   ├── 📁 Project 1/ `← ✅ Found!`
    │   │   └── 📁 Folder in Project 1 `← ❌ Ignored, since I'm level 3`
    │   └── 📁 Project 2/ `← ✅ Found!`
    │       └── 📁 Folder in Project 2 `← ❌ Ignored, since I'm level 3`
    └── 📁 Project category 2/ `← ❌ Ignored`
        ├── 📁 Project 3/ `← ✅ Found!`
        │   └── 📁 Folder in Project 3 `← ❌ Ignored, since I'm level 3`
        └── 📁 Project 4/ `← ✅ Found!`
            └── 📁 Folder in Project 4 `← ❌ Ignored, since I'm level 3`</string>
	<key>uidata</key>
	<dict>
		<key>63441BD6-AF92-4942-914E-570E76797C98</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>EFCA4A0D-100E-4E55-B2B3-4EF91B803112</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Developer</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Please enter the directory path in which you have your VS Code projects</string>
			<key>label</key>
			<string>Root directory</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>root</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>pairs</key>
				<array>
					<array>
						<string>1</string>
						<string>1</string>
					</array>
					<array>
						<string>2</string>
						<string>2</string>
					</array>
					<array>
						<string>3</string>
						<string>3</string>
					</array>
					<array>
						<string>4</string>
						<string>4</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>This option controls the minimum depth in which the Project Manager searches. Review the pane on the right for more info</string>
			<key>label</key>
			<string>Minimum search depth</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mindepth</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>pairs</key>
				<array>
					<array>
						<string>1</string>
						<string>1</string>
					</array>
					<array>
						<string>2</string>
						<string>2</string>
					</array>
					<array>
						<string>3</string>
						<string>3</string>
					</array>
					<array>
						<string>4</string>
						<string>4</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>This option controls the maximum depth in which the Project Manager searches. Review the pane on the right for more info</string>
			<key>label</key>
			<string>Maximum search depth</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>maxdepth</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.0.4</string>
	<key>webaddress</key>
	<string>https://jochemkeller.nl</string>
</dict>
</plist>
